<!DOCTYPE html>
<html>

<head>
  <title>Submit Text</title>
  <meta charset="UTF-8">
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    form {
      width: 70%;
    }

    textarea {
      width: 100%;
      height: 80vh;
      margin-bottom: 20px;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px;
    }
  </style>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const host = "<%= host %>";
      var ws = new WebSocket(`ws://${host}/websocket`);
      var textArea = document.querySelector("textarea[id='messageBox']");

      textArea.addEventListener("input", function () {
        clearTimeout(this.delayedCall);

        this.delayedCall = setTimeout(() => {
          const message = textArea.value;
          console.log(`message is ${message}`);
          ws.send(message);
        }, 500);
      });

      ws.onmessage = function (event) {
        console.log("Message from server: ", event.data);
      };
    });
  </script>
</head>

<body>
  <form action="#" method="post">
    <textarea id="messageBox"></textarea>
  </form>
</body>

</html>
