<!DOCTYPE html>
<html>

<head>
  <title>Submit Text</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script> var host = "<%= host %>";  </script>
 <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    form {
      width: 70%;
    }

    textarea {
      width: 100%;
      height: 80vh;
      margin-bottom: 20px;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px;
    }

    /* 响应式设计的媒体查询 */
    @media (max-width: 768px) {
      form {
        width: 90%; /* 在小屏幕上增加表单宽度 */
      }

      textarea {
        height: 50vh; /* 在小屏幕上调整文本区域的高度 */
        font-size: 14px; /* 在小屏幕上调整字体大小 */
      }
    }
  </style>

<body>
  <form action="#" method="post">
    <textarea id="messageBox">
    </textarea>
      <br>
      <br>
    <input type="submit" value="send" id="submitBtn">
  </form>
</body>
  <script src="/static/js/application.js?v=2"></script>
</html>
